/* header section atart */
body{
    margin: 0;
    padding: 0;
}
body h1{
    color:rgb(73, 70, 70)
}
body p{
   font-size: 20px;
}
.color-tomato{
    color: rgb(231, 205, 59);
}
.mission-focused h1{
    font-size: 60px;
}
#line{
    line-height: 20px;
    border-left: 5px solid indianred;
    padding-left: 2% ;
    height: 100px;
}
p{
    font-size: 25px;
}
h3{
    padding-top: 5%;
}
.mission-focused{
    display: flex;
}
.half-width{
    width: 50%;
    margin-right: 8%;   
}
.mission-focused img{
    width:90%;   
}
#focused-position{
    padding-top: 9%;
    padding-left: 10%;
}

.button-link{
    border: none;
    color:white;
    background-image: linear-gradient(indianred,tomato);
    padding:13px 23px;
    border-radius: 5%;
    font-weight: 700;
    margin:15px 0;
}
/* mission section start */
.my-mission h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: rgba(28, 9, 71, 0.877);
}
.mission-separate img{
    width: 40%;
}

#box-resize{
    margin-left: 10%;
    margin-right: 10%;
}
.mission-separate{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5%;
}
#mission{
    background-color: rgb(220, 237, 248);
}
#vission{
    background-color:rgb(245, 242, 208 );
}
#goals{
    background-color:rgb(192, 230, 245);
}
/* develop section start */
.develop-position{
    margin-top: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20%;   
}
.develop-position img{
    padding-left: 22%;
    margin-left: 5%;
    padding-top: 5%;
    width:80%;
}
.develop-limit{
    margin-top: 8%;
    
}
.develop-limit h1{
    font-size: 40px;
    line-height: 15px;
}
/* comunity section start */
.global-community{
    margin-left: 10%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 95% 90%;
    padding: 50px 0 150px 0;
    
}
.global-community h1{
    font-size: 40px;
    line-height: 15px;
}
.community-text{
    margin-top: 3%;
}

.global-community img{
    width: 80%;
    padding-left: 7%;
}
/* person section start */
.person-area{
    display: flex;
    background-color: honeydew;
    padding: 50px 0;
}
.person{
    box-shadow: 10px 10px 18px gray;
    padding-left: 20px;
}
.person img{
    width:80%;
}

.half-last{
    width: 50%;
    margin-left: 10%
}
.contact h2{
    font-size: 45px;
    padding-left: 7%;
    padding-top: 7%;
    color: rgb(241, 143, 14);
}
.contact p{
    font-size: 25px;
    padding-top: 2%;
    color: rgb(14, 2, 46);
    font-weight: 700;
}
.social{
    margin-top: 30%;
}
.social a{
    text-decoration: none;
    font-size: 25px;
    padding: 20px 10px;
    font-weight: 600;
}
.contact span{
    color:rgb(4, 58, 58)
}
#facebook{
    border: none;
    color:white;
    background-image: linear-gradient(rgb(67, 67, 223),rgb(41, 41, 228));
    padding:13px 23px;
    border-radius: 5%;
    font-weight: 700;
    margin:15px 0;
}
#youtube{
    border: none;
    color:white;
    background-image: linear-gradient(rgb(228, 62, 62),rgb(180, 23, 37));
    padding:13px 23px;
    border-radius: 5%;
    font-weight: 700;
    margin:15px 0;
}
#instragram{
    border: none;
    color:white;
    background-image: linear-gradient(rgb(202, 26, 193),rgb(211, 25, 72));
    padding:13px 23px;
    border-radius: 5%;
    font-weight: 700;
    margin:15px 0;
}
/* footer section start */
.footer{
    background-color: rgba(6, 1, 20, 0.918);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}
.footer h2{
    font-size: 30px;
    color: white;
}
.footer p{
    font-size: 17px;
    color:rgb(143, 134, 119)
}
.footer-color{
    color: tomato;
}
